// @font-face {
//   font-family: "RokkittBold";
//   src: url("fonts/Rokkitt-Bold.ttf") format("truetype");
//   font-weight: bold;
// }

// @font-face {
//   font-family: "RokkittLight";
//   src: url("fonts/Rokkitt-Light.ttf") format("truetype");
//   font-weight: lighter;
// }

h1,
h3 {
  font-family: "Rokkitt", sans-serif;
  font-weight: 700;
}

p,
label,
button {
  font-family: "Rokkitt", sans-serif;
  font-weight: 400;
}
